/* app css stylesheet */

#calculator {
    width: 300px;
}

#keypad {

}

#keypad button{
    width   :   50px;
    height  :   50px;
    display :   inline;
    float   :   left;
    margin  :   0px
}

#numpad {
    float   :   left;
    width   :   150px;
}

#operators {
    float: left;
    width: 120px;
}

#digital_desplay {
    position: relative;
    width       : 250px;
    height      : 55px;
    background-color: #73af81;
    border  :   1px solid #4c6f53;
    padding     : 1px;
    vertical-align: middle;
    position    : relative;
    margin      :  30px auto 30px auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    font-family : 'Lekton', sans-serif;
    font-size   :   28px;
    overflow: hidden;
}

#digital_desplay p {
    margin      :   15px; 
    display     :     block;
    position    :   absolute;
}

#disp_digits {
    right: 25px;
    color       : #23522d;
}

#disp_operator {
    color: #c8fbd2;
    right: 0px;
}

.buttongroup{
    margin-left: 15px;
}

.twocolbt {
    height: 100px !important;
}

.undo {
    color: #0099ff;
}
.redo {
    color:#66cc00;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
