/* app css stylesheet */

#calculator {
    width: 400px;
}

#keypad {

}

#keypad button{
    width   :   50px;
    height   :   50px;
}

#numpad {
    float   : left;
    width   :   200px;
}

#numpad button {
    display: inline;
}

#operators {
    float: left;
    width: 120px;
}

.twocolbt {
    float: left;
    height: 100px !important;
}

.undo {
    color: #0099ff;
}
.redo {
    color:#66cc00;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
